/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}



html, body{
    font-family: 'Avenir Next Condensed', 'Source Sans Pro', sans-serif;
    background: rgba(250,250,250);
    overflow: hidden;
    width: 100vw;
    overflow-y: scroll;
}


header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    z-index: 10;
}

header .logo a{
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header .logo .logo-img{
    height: 50px;
    padding-top: 10px;
}

header .menu{
    display: flex;
}

header .menu a{
    display: inline-block;
    font-weight: 400;    
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header .menu .link{
    padding: 20px;
}
header .menu .dropdown{
    position: relative;
    
}
header .menu .dropdown:hover .sub-menu, header .menu .dropdown .sub-menu:hover{
    display: block;
}

header .menu .dropdown .sub-menu{
    display: none;
    position: absolute;
    transform: translate3d(0, 10px, 0);
    background: white;
    /* padding: 20px; */
    color: red;
    min-width: 150px;
    border-radius: 3px;
}

header .menu .dropdown .sub-menu a{
    color: black;
    display: block;
    padding: 10px;
}

#jumbo{
    position: relative;
    background: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#jumbo .bg-image{
    position: absolute;
    background: url("backpack3.jpeg");
    background-size: cover;
    height: 100%;  
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    top: 0
}

#jumbo .bg-video{
    position: absolute;    
    height: 100%;  
    width: 100%;    
    z-index: 1;
    top: 0;
    transform: scale(1.5);
    min-height: 100%;
}

#jumbo .transparent-color{
    position: absolute;
    background: rgba(119,101,91,.4);
    height: 100vh;
    width: 100%;
    z-index: 2;
    top: 0
}
#jumbo .titles{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: absolute;
    z-index: 3;
}

#jumbo .titles h1{
    font-size: 5rem;
    color: rgb(178, 239, 255);
    font-weight: 900;
    text-transform: uppercase;
    transform: translate3d(100px, 0, 0);
   
}
#jumbo .titles h2{
    font-size: 5rem;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    transform: translate3d(100px, 0, 0);
}

#jumbo .state{
    background: white;
    position: absolute;
    height: 12%;
    z-index: 3;
    width: 25%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jumbo .state .number{
    font-size: 3rem;
    font-weight: 700;
}

#jumbo .store-info{   
    position: absolute;
    height: 24%;
    z-index: 3;
    width: 75%;
    bottom: 0;
    right: 0;
    background-color: rgba(76,63,64,.8);
    display: flex;
}

#jumbo .store-info img{
   width: 25%;
   object-fit: cover;
   cursor: pointer;
   filter: grayscale(60%);
   transition: all .4s ease-in-out;

}
#jumbo .store-info img:hover{
   filter: grayscale(0);
}


#two-collections .left-c{
    position: relative;
    
}

#two-collections .left-c .left-c-img{
    width: 100%;
    position: relative;
}

#two-collections .left-c .left-c-img .overlay{
    position: absolute;
    width: 100%;
    background: rgba(178,239,255,.2);
    height: 100%;
}


#two-collections .left-c .left-c-img img{
    width: 100%;
}

#two-collections .left-c .collection-title {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
}

#two-collections .left-c .collection-title span {
    /* transform: translate3d(-250%, -20px ,0); */
    /* text-align: center; */
    line-height:1;
    
}

#two-collections .right-c{
    position: relative;
    
}

#two-collections .right-c .right-c-img{
    width: 100%;
    position: relative;
}

#two-collections .right-c .right-c-img .overlay{
    position: absolute;
    width: 100%;
    background: rgba(252,192,128,.2);
    height: 100%;
}


#two-collections .right-c .right-c-img img{
    width: 100%;
}

#two-collections .right-c .collection-title {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
}


#two-collections .right-c .collection-title span {
    /* transform: translate3d(-100px, -20px ,0); */
    line-height:1;
    
}


#horizontal-sale .overlay{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#horizontal-sale .overlay .percent-number{
    color: white;
    font-size: 15rem;
    font-weight: 900;
}

#horizontal-sale .overlay .title{
    color: white;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
}

#horizontal-sale .overlay .link{
    color: white;
    border: solid 2px white;
    width: 100px;
    text-align: center;
    height: 50px;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s ease-in-out;
    
}

#horizontal-sale .overlay .link:hover{
    background: rgba(178,239,255,.8)
}



#products-group h2{
    font-size: 2rem;    
    font-weight: 700;
    text-transform: uppercase;
}

#products-group .product-bg{
    background: white;
    height: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

#products-group .product-bg .product-img{
    width: 90%;
}

#products-group .product-bg .overlay{
    background-color: rgba(178,239,255,.4);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .2s ease-in-out;
    opacity: 0;
    color: black
}

#products-group .product-bg .overlay .product-title{
    font-weight: 600;
    font-size: 1.3rem;
    
}
#products-group .product-bg .overlay .product-price{
    font-weight: 600;
    
}

#products-group .product-bg .overlay:hover{
    opacity: 1 ;
    cursor:pointer;
}

footer{
    background: #1b1b1b;
    padding: 50px 0;
}

footer .footer-menu .menu-title, footer .social-title{
    display: block;
    margin-bottom: 10px;
    color: rgb(178,239,255);
    font-size: 1.2rem;
    text-transform: uppercase;
}

footer .footer-menu a{
    color: white;
    text-decoration: none;
}

footer .footer-menu a:hover{
    color: rgb(178,239,255);
}

footer .social-icons{
    display:flex;
}

footer .social-icons a{
    display: flex;
    color: black;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right:15px;
    
}

footer .social-icons a:hover{
    background: rgb(178,239,255);
    color: white;
}

footer .address{
    display: block;
    width: 100%;
    color: white;
    text-align: center;
}

hr{
    color: white;
}